# After copying this file to .env & .env.pi replace these values with appropriate values

# Prefix for all of the docker containers
CONTAINER_NAME=starter

# Database values
DATABASE_NAME=wp_db_name
DATABASE_USER=wp_db_user
DATABASE_PASSWORD=db_password
DATABASE_ROOT_PASSWORD=db_root_password

# https://api.wordpress.org/secret-key/1.1/salt/
AUTH_KEY=salt
SECURE_AUTH_KEY=salt
LOGGED_IN_KEY=salt
NONCE_KEY=salt
AUTH_SALT=salt
SECURE_AUTH_SALT=salt
LOGGED_IN_SALT=salt
NONCE_SALT=salt

# WordPress config value
SITE_URL=http://localhost:81

# SPA value
VITE_API_URL=http://localhost:81