CONTAINER_NAME=starter

SITE_URL=http://localhost

DATABASE_NAME=wp_db_name
DATABASE_USER=wp_db_user
DATABASE_PASSWORD=db_password
DATABASE_ROOT_PASSWORD=db_root_password

AUTH_KEY=salt
SECURE_AUTH_KEY=salt
LOGGED_IN_KEY=salt
NONCE_KEY=salt
AUTH_SALT=salt
SECURE_AUTH_SALT=salt
LOGGED_IN_SALT=salt
NONCE_SALT=salt

VITE_API_URL=http://localhost:81